* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.message {
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
}

.boxes {
	display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.box {
	width: 20vw;
    height: 20vh;
    background-color: #000;
    padding: 10px;
    margin: 10px;
	color: black;
	text-align: center;
}

.box:hover {
	color: #fff;
}

.code {
	width: 20vw;
    height: 20vh;
    background-color: #000;
    padding: 10px;
    margin: 10px;
    color: white;
}